#console {
   border: 1px solid black;
   padding: 5px
}

.message {
   font-size: 15pt;
   margin: 3px;
   padding: 3px;
   background-color: #cccccc;
}

.log {
}

.info {
   color: #5555bb;
}

.warn {
   color: #666600;
   background-color: #f0f088;
}

.error {
   color: #cc0000;
   background-color: #ffcccc;
}

