#console {
}

.message {
   font-size: 27px;
   margin-top: 4px;
   margin-bottom: 4px;
   padding: 5px;
   background-color: #dddddd;
   max-height: 999999999px;
}

.log {
}

.info {
   color: #5555bb;
   background-image: url('info.png');
   background-repeat: no-repeat;
   background-position: 5px 5px;
   padding-left: 40px
}

.warn {
   color: #444400;
   background-color: #f0f088;
   background-image: url('warn.png');
   background-repeat: no-repeat;
   background-position: 5px 5px;
   padding-left: 40px
}

.error {
   color: #cc0000;
   background-color: #ffcccc;
   background-image: url('error.png');
   background-repeat: no-repeat;
   background-position: 5px 5px;
   padding-left: 40px
}

.spacer {
   font-size: 0px;
}
